/* Global Styles */

body, button, input, textarea, select {
    font-family: 'Courier New', Courier, monospace;
}

#villagers-heading {
    font-family: 'Nosifer', cursive;; /* Keeps font consistent with your page */
    font-size: 36px; /* Large font size */
    font-weight: bold; /* Make the text bold */
    color: #9d2db9; /* A striking color, adjust as needed */
    text-align: center; /* Center align the heading */
    margin-top: 20px; /* Adds some space at the top of the heading */
    margin-bottom: 20px; /* Adds some space below the heading */
}

/* Status Bar Styling */
.status-bar {
    background-color: #f0f0f0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #dcdcdc;
}

.status-bar p {
    margin: 0;
    font-weight: bold;
}

.status-bar span {
    font-weight: normal;
}

/* Container Grid */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Creates a responsive grid */
    gap: 10px; /* Space between grid items */
    width: 100%; /* Ensures the grid fits the width of its container */
    padding: 10px; /* Padding around the grid */
}

/* Players */
.player-square {
    height: 100px; /* Adjust height as needed */
    border: 2px solid black;
    margin: 5px;
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    justify-content: center; /* Center children vertically */
    align-items: center; /* Center children horizontally */
    border-radius: 5px; /* Slightly rounded edges */
    padding: 10px; /* Add padding inside the boxes */
    box-sizing: border-box; /* Ensures padding does not increase the box size */
}

.featured-player {
    border: 2px solid gold;
}

.dead-player {
    border: 5px solid black;
    background-color: grey; /* Updated to background-color for consistency */
}

.button {
    color: white; /* Text color for the button */
    text-decoration: none; /* Removes underline from links */
    background-color: #f44336; /* Button background color */
    padding: 10px 20px; /* Padding inside the button */
    border-radius: 5px; /* Rounded corners for the button */
    font-family: 'Courier New', Courier, monospace; /* Consistent font usage */
}

.button:hover {
    background-color: #d32f2f; /* Darker shade on hover for visual feedback */
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333; /* Dark background for the footer */
    color: white;
    text-align: center;
    padding: 10px 0; /* Adds padding inside the footer */
}