<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Villagers Game</title>
    <link rel="stylesheet" href="./static/css/styles.css">

    <title>WebSocket Scripts</title>

    <link href="https://fonts.googleapis.com/css2?family=Nosifer&display=swap" rel="stylesheet">

</head>
<body>
<div id="content">

    <h1 id="villagers-heading">Villagers</h1>

    <!-- Status Bar at the Top -->
    <div class="status-bar">
        <p>Game Status: <span>{{ game['status'] }}</span></p>
        <p>Round: <span>{{ game['round'] }}</span></p>
        <p>Stage: <span>{{ game['stage'] }}</span></p>
    </div>

    <div class="container">
        <!-- Featured Player -->
        {% if curr_player['status'] == 'alive' %}
            <div class="player-square featured-player">
                <h3>{{ curr_player['player_name'] }}</h3>
                <p>Character: {{ curr_player['character'] }}</p>
                <!-- Example of a different stat for the featured player -->
            </div>
        {% else %}
            <div class="player-square featured-player dead-player">
                <h3>{{ curr_player['player_name'] }}</h3>
                <p>Character: {{ curr_player['character'] }}</p>
                <p>You were killed</p>
                <!-- Example of a different stat for the featured player -->
            </div>
        {% endif %}
        <!-- Other Alive Players -->
        {% for alive_player in alive_players %}
            <div  id="{{ alive_player['player_name'] }}" class="player-square">
                <h3>{{ alive_player['player_name'] }}</h3>
            </div>
        {% endfor %}

        <!-- Other Dead Players -->
        {% for dead_player in dead_players %}
            <div  id="{{ dead_player['player_name'] }}" class="player-square dead-player">
                <h3>{{ dead_player['player_name'] }}</h3>
                <p>You were killed</p>
            </div>
        {% endfor %}
    </div>

    {% if game['stage'] == 'day' %}
        <select id="vote">
            <option value="" disabled selected>Who do you think is a wolf?</option>
            {% for alive_player in alive_players %}
            <option value="{{ alive_player['player_name'] }}">{{ alive_player['player_name'] }}</option>
            {% endfor %}
        </select>
        <button id="voteButton">Cast Vote</button>

    {% elif game['stage'] == 'night' %}
        {% if curr_player['character'] == 'wolf' %}
        <select id="vote">
            <option value="" disabled selected>Who do you want to kill</option>
            {% for alive_villager in alive_villagers %}
            <option value="{{ alive_villager['player_name'] }}">{{ alive_villager['player_name'] }}</option>
            {% endfor %}
        </select>
        <button id="voteButton">Cast Vote</button>
        {% endif %}
    {% endif %}
    <a href="/" class="button">Return to home</a>
    <div id="voteResultMessage"></div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>

<script>
    var socket = io();
</script>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

    
    
    // document.querySelector("#voteButton").onclick = function() {
    //     var vote = document.querySelector("#vote").value;
    //     if(vote) {
    //         socket.emit('castVote', {vote: vote});
    //     } else {
    //         alert("Please enter a vote.");
    //     }
    // };

    // socket.on('voteResponse', function(data) {
    //     if(data.success) {
    //         document.querySelector("#voteButton").style.color = "green";
    //         document.querySelectorAll(".featured-player").forEach(function(element) {
    //             element.style.borderColor = "green";
    //         });
    //         document.querySelectorAll(".featured-player").forEach(function(element) {
    //             element.style.backgroundColor = "lightgreen";
    //         });
    //         document.getElementById('voteButton').disabled = true;
    //         var message = "You voted for: " + data.voted_player;
    //         document.getElementById('voteResultMessage').innerText = message;
    //     } else {
    //         document.querySelector("#voteButton").style.color = "purple";
    //     }
    // });

    socket.on('update_player_vote', (data) => {
        var voted_player = data.voted_player
        var voted_player_div = document.getElementById(voted_player);
        // Update the border color of the element when the 'update_player_vote' event is received
        if (voted_player_div) {
        console.log(voted_player)
        voted_player_div.style.borderColor = 'green';
        voted_player_div.style.backgroundColor = 'lightgreen'
        }
    });

    socket.on('update_village', function(data) {
        // Update webpage content
        document.getElementById('content').innerHTML = data.html
    });
});
</script>
<script src="./static/js/app.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {

document.querySelector("#voteButton").onclick = function() {
    var vote = document.querySelector("#vote").value;
        console.log('voting')
        if(vote) {
            // Replace 'yourEndpointURL' with the actual endpoint where you handle the vote
            fetch('/castVote', {
                method: 'POST', // or 'PUT' if you're updating a resource
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ vote: vote }),
            })
            .then(response => response.json())
            .then(data => {
                // This is where you handle the response similar to the 'voteResponse' socket event
                if(data.success) {
                    document.querySelector("#voteButton").style.color = "green";
                    document.querySelectorAll(".featured-player").forEach(function(element) {
                        element.style.borderColor = "green";
                    });
                    document.querySelectorAll(".featured-player").forEach(function(element) {
                        element.style.backgroundColor = "lightgreen";
                    });
                    document.getElementById('voteButton').disabled = true;
                    var message = "You voted for: " + data.voted_player;
                    document.getElementById('voteResultMessage').innerText = message;
                } else {
                    document.querySelector("#voteButton").style.color = "purple";
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        } else {
            alert("Please enter a vote.");
        }
    }
});

</script>


<script>
    // Replace with the actual ID and player name you want to use
    const id = "{{ game['_id'] }}";;
    const playerName = "{{ curr_player['player_name'] }}";

    // Function to call the Flask endpoint
    function pollCheckVotes() {
        fetch(`/checkVotes?_id=${id}&player_name=${playerName}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
            console.log(data);
            // Check if the status is not 'do_nothing'
            if (data.status !== 'do_nothing') {
                document.getElementById('content').innerHTML = data.html;
            }
            // If status is 'do_nothing', we do not update the HTML.
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
            });
    }

    // Poll the function every 3 seconds
    setInterval(pollCheckVotes, 3000);
</script>

</body>
</html>
